/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; width: 100%; }
<<<<<<< HEAD
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:#E3E1DE
    ;}
=======
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:#E3E1DE;}
>>>>>>> 93c7bd563ab0110aad6a0ad91e3a1ab941404078

