<div *ngIf="deleteSection">
  <div class="modal-header">
    <h4 class="modal-title pull-left"> {{ title }} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ¿Está seguro que desea eliminar {{data}}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="cancelDelete()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="acceptDelete()">Aceptar</button>
  </div>
</div>

<div *ngIf="seeMoreSection">

  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <p style="font-size: 18px;">
      <span class="modal_title" style="font-size: 22px;  margin-left: 35%;">Dirección
        <hr></span>
      Provincia:
      <br>
      Cantón:
      <br>
      Distrito:
      <br>
      Dirección: {{data.addressDescription.description}}
      <br>
      <br>
      <span class="modal_title" style="font-size: 22px;  margin-left: 35%;">Teléfonos
        <hr></span>
      Teléfono Móvil:
      <span *ngIf="data.telephones[0]!=null && data.telephones[0]!=undefined">
        {{data.telephones[0].number}}
      </span>
      <span *ngIf="data.telephones[0]===null || data.telephones[0]===undefined">
        ---
      </span>
      <br>
      Otro Teléfono:
      <span *ngIf="data.telephones[1]!=null && data.telephones[1]!=undefined">
        {{data.telephones[0].number}}
      </span>
      <span *ngIf="data.telephones[1]===null || data.telephones[1]===undefined">
        ---
      </span>
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="cancelDelete()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="acceptDelete()">Aceptar</button>
  </div>
</div>


<div *ngIf="workOrderValidateQuantitySection">
  <div class="modal-header">
    <h4 class="modal-title pull-left"> {{ title }} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Debe asignar una cantidad valida para el material: {{data}}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="acceptDelete()">Aceptar</button>
  </div>
</div>