<div class="control-section">
  <ejs-schedule #scheduleObj width='100%' locale='es-CR' height='650px'   [selectedDate]="selectedDate" (eventRendered)="onEventRendered($event)"
      [eventSettings]="eventSettings" (keydown)='onKeyDown($event)' (actionBegin)="onActionBegin($event)" (popupOpen)="onPopupOpen($event)" 
      (cellClick)="onCellClick($event)" [showQuickInfo]="showQuickInfo" (actionComplete)="onComplete($event)" (cellDoubleClick)="onCellDoubleClick()">
      <e-views>
          <e-view  option='Day' [interval]="dayInterval"></e-view>
          <e-view  option='Week' [interval]="weekInterval"></e-view>
          <e-view  option='Month' [interval]="monthInterval"></e-view>
          <e-view  option="Agenda"></e-view>
      </e-views>
        
      <ng-template #editorTemplate>
      </ng-template>      

    
  </ejs-schedule>
</div>


