.formtitle {
    font-family:'Questrial', Verdana, sans-serif;
    text-align:center;
    font-size:32px;
    padding:0;
    margin:40px 0 20px 0;
    position:relative;
    color:black;
    }

    .e-error,
    .e-float-text {
        font-weight: 500;
        font-size:14px;
    }
    .input-disabled{
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
        font-weight: 500;
        font-size: 12px;
        padding-right: 0;
        font-weight: bold;
    }


    form {
        padding-top: 20px;
        margin-bottom: 45px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
        border-radius: 5px;
        background:#fff;
        }

    .form-horizontal .form-group {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5%;
    }   
/*
    .e-popup-full-page {
        bottom: 0;
        left: 100px;
        margin: 100px;
        overflow: hidden;
        padding: 40px;
        right: 0;
        position: absolute; 
        top: 200px;

        align-content: center;
        height: 200px;
        width: 100px;
      }
*/