  .formtitle {
   font-family:'Questrial', Verdana, sans-serif;
   text-align:center;
   font-size:32px;
   padding:0;
   position:relative;
   color:#555;
  }
  
    .e-error,
    .e-float-text {
        font-weight: 500;
        font-size:14px;
    }
  
    form {
        padding-top: 10px;
        margin-bottom: 45px;
        border: 1px solid #ccc;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.36);
        border-radius: 10px;
        background:#fff;
        }
  
    .form-horizontal .form-group {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 2%;
    }   
    .e-dlg-header  {
        font-family:'Questrial', Verdana, sans-serif;
        display: block;
        font-size: 18px;
        margin-top: 2%;  
        text-align: center;
      }
      .btn-default,.btn-primary {
        margin-left: 5%;
        border: none;
        border-radius: 2px;
        color: #424242;
        background-color: #FFF;
        text-align: center;
        height: 36px;
        font-size: 18px;
    }
    .btn-default:hover{
      background-color: #FFF;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }
    .btn-primary {
      color: #FFF;
      background-color: #2980B9;
    }
    .btn-primary:hover{
      background-color: #2980B9;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }