.control-section{
  margin-top: 3%;
}

  .e-dlg-header  {
    font-family:'Questrial', Verdana, sans-serif;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2%;  
    text-align: center;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px 0px 0; ;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .button2 {background-color: #008CBA;}

  .button2:hover {
    box-shadow: 1px 1px 5px black;
   }