<div *ngIf="rangeSection">

        <div id="control_wrapper">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <ejs-daterangepicker [(ngModel)]="fecha"></ejs-daterangepicker>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button id="validateSubmit" class="e-control e-btn e-info glyphicon glyphicon-search"
                                        type="submit" style="margin-left:20px;height:40px;width:40px;" data-ripple="true"
                                        (click)='list()'></button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="samplebtn e-control e-btn e-basic glyphicon glyphicon-plus"
                                        (click)='insert()' style="height:40px;width: 40px;margin-left: 35px;"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <ejs-toolbar class='e-gridlist' (clicked)="onClicked($event.originalEvent)">
                    <e-items>
                        <e-item text='Fecha'></e-item>
                        <e-item text='Hora de entrada'></e-item>
                        <e-item text='Hora de salida'></e-item>
                        <e-item text='Descripción'></e-item>
                        <e-item text='Número de factura'></e-item>
                        <e-item text='Persona que recibe'></e-item>
                    </e-items>
                </ejs-toolbar>
                <br />
                <ejs-grid #grid [dataSource]='data' allowPaging='true' [allowSorting]='true' (dataBound)="dataBound()"
                    allowTextWrap='true' [pageSettings]='pageSettings'>
    
                    <ng-template #toolbarTemplate>
                        <ejs-toolbar>
                            <div class="e-dlg-header">Lista de detalles de órdenes</div>
                        </ejs-toolbar>
                    </ng-template>
    
                    <e-columns>
                        <e-column field='date' headerText='Fecha' width='100' textAlign='center'></e-column>
                        <e-column field='checkIn' headerText="Hora de entrada" width='150' textAlign='center'></e-column>
                        <e-column field='checkOut' headerText="Hora de salida" width='150' textAlign='center'></e-column>
                        <e-column field='description' headerText="Descripción" width='150' textAlign='center'></e-column>
                        <e-column field='invoiceId' headerText="Número de factura" width='150' textAlign='center'>
                        </e-column>
                        <e-column field='managerName' headerText="Persona que recibe" width='150' textAlign='center'>
                        </e-column>
                        <e-column headerText="Editar" width='85' textAlign='center'>
                            <ng-template #template let-data>
                                <button mat-button class="btn btn-warning glyphicon glyphicon-pencil"
                                    (click)='edit(data)'></button>
                            </ng-template>
                        </e-column>
    
                        <e-column headerText="Eliminar" width='115' textAlign='center'>
                            <ng-template #template let-data>
                                <button mat-button class="btn btn-danger glyphicon glyphicon-trash"
                                    (click)='openModal(data)'></button>
                            </ng-template>
                        </e-column>
                    </e-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
    
    <div *ngIf="insertSection">
        <insert-work-order-detail></insert-work-order-detail>
    </div>
    
    <div *ngIf="editSection">
        <update-work-order-detail [detailid]="detailid"></update-work-order-detail>
    </div>