<div class="col-lg-1"></div>
<div class="col-lg-10 control-section">
  <div class="content-wrapper" style="margin-bottom: 25px;">

    <div *ngIf="bandera">
      <div class="alert alert-danger text-center alert-dismissible">
        <h4 class="alert-heading"><i class="icon fa fa-check"></i> ¡Datos incompletos!</h4>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="hidden()">x</button>
        <h6>Debe llenar todos los campos</h6>
      </div>
    </div>

    <div *ngIf="save">
        <div class="alert alert-danger text-center alert-dismissible">
          <h4 class="alert-heading"><i class="icon fa fa-check"></i> ¡Error!</h4>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="hidden()">x</button>
          <h6>Ya existe una lista con ese nombre</h6>
        </div>
      </div>
    <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">


      <div class="formtitle">
        <span>Listas predefinidas</span>
      </div>
      <div *ngIf="add">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-8">
            <div class="form-group">
              <div class="e-float-input">
                <input id="name" type="text" formControlName="name">
                <span class="e-float-line"></span>
                <label for="name" class="e-float-text" style="font-size:15px;">Nombre de la categoría</label>
              </div>
              <div *ngIf="name.errors">
                <div *ngIf="name.errors.required && name.touched" class="e-error">
                  Debe rellenar este campo.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2" style="margin-top: 5%;">
            <button type="button" class="btn btn-info" (click)='return()'>
              Agregar
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="implements">
        <div class="row" style="margin-left: 5px; margin-right: 5px; margin-top: 2%;">

          <button class="samplebtn e-control e-btn" type="button"
            style="height:40px;width: 146px; margin-left: 5px;" id="device" (click)="fillDropdown($event)">Dispositivos</button>

          <button class="samplebtn e-control e-btn" type="button"
            style="height:40px;width: 146px; margin-left: 5px;" id="material" (click)="fillDropdown($event)">Materiales</button>

          <button class="samplebtn e-control e-btn" type="button"
            style="height:40px;width: 146px; margin-left: 5px;" id="tool" (click)="fillDropdown($event)">Herramientas</button>

        </div>

        <div *ngIf="implements">
          <div class="row">
            <div class="col-sm-2"></div>

            <div class="form-group">
              <ejs-dropdownlist formControlName="multi" name="multi" [dataSource]='inventories'
                [fields]='inventory' [placeholder]='watermark' floatLabelType='Auto'></ejs-dropdownlist>

            </div>

            <div class="form-group">
              <div class="e-float-input">
                <input id="newQuantity" type="number" formControlName="newQuantity">
                <span class="e-float-line"></span>
                <label for="newQuantity" class="e-float-text" style="font-size:15px;">Cantidad material</label>
              </div>
              <div *ngIf="newQuantity.errors">
                <div *ngIf="newQuantity.errors.required && newQuantity.touched" class="e-error">
                  Debe rellenar este campo.
                </div>
              </div>
            </div>

            <button class="samplebtn e-info e-control e-btn" type="button"
              style="height:40px;width: 146px; margin-top: 7%;" (click)="addToList()">Agregar</button>





          </div>

        </div>

      </div>
      <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <div style="width: 300px;margin:0px auto;height: 100px;padding-top: 25px;">

          <button id="validateSubmit" class="samplebtn e-control e-btn e-info" type="submit" (click)='ready()'
            style="height:40px;width: 146px;" data-ripple="true">Listo</button>

          <button class="samplebtn e-control e-btn" type="button"
            style="height:40px;width: 146px; margin-left: 5px;">Cancelar</button>

        </div>
      </div>

    </form>

    <div *ngIf="detail">



    </div>



  </div>
</div>