<div *ngIf="primario">
  <div class="container" style="margin: 70px auto;">
    <div class="formtitle">
      <div style="">
        <span class="line"></span>
        <span class="dot"></span>
        <span class="title">
          Rol de Empleado
        </span>
        <span class="dot"></span>
        <span class="line"></span>
      </div>
    </div>

    <div class="control-section">
      <ejs-grid [dataSource]='data' allowPaging='true' allowTextWrap='true' [pageSettings]='pageSettings' width='800'>
        <e-columns>
          <e-column field='name' headerText='Nombre del rol' width='50' textAlign='center'></e-column>
          <e-column field='type' headerText="Tipo de rol" width='50' textAlign='center'></e-column>
        </e-columns>
      </ejs-grid>
    </div>

  </div>

  <div *ngIf="secundario">
    <update-employee-role [roleid]="roleid"></update-employee-role>
  </div>

  <div *ngIf="modalDelete" class="modal fade in" role="dialog" id="gridTools" tabindex="-1" aria-labelledby="gridModalLabel"
    style="display:block;padding-right: 15px;margin-top: 225px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="hideModal()" aria-label="Close">
            <span style="color: black;" aria-hidden="true">×</span>
          </button>

          <div class="modal-body" id="gridModalLabel">
            ¿Está seguro que desea eliminar el rol de empleado {{rolDelete.name}}?
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="hideModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="aceptDelete()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>