.control-section{
  margin-top: 10%;
}
.modal-content {
    border: none;
    border-radius: 2px;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.58),0 25px 55px 0 rgba(0,0,0,0.21);
    padding-top: 2px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family:'Questrial', Verdana, sans-serif;
  }

  .modal-footer {
    border-top:0;
    padding-bottom:10px;
  }
  .btn-default,.btn-primary {
      border: none;
      border-radius: 2px;
      color: #424242;
      background-color: #FFF;
      text-align: center;
      height: 36px;
  }
  .btn-default:hover{
    background-color: #FFF;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
  .btn-primary {
    color: #FFF;
    background-color: #2980B9;
  }
  .btn-primary:hover{
    background-color: #2980B9;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }

  .e-dlg-header  {
    font-family:'Questrial', Verdana, sans-serif;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2%;  
    text-align: center;
  }

.but_insert {
    margin-left: 70%;
    margin-bottom: 2%;
    background-color: rgb(110, 191, 211);
    border: none;
    border: 1px solid #000;
    border-radius: 4px;
    width: 200px;
    padding: 16px 0;
    font-size: 20px;
}
.but_insert:hover {
   box-shadow: 1px 1px 5px black;
}
