<div class="content-wrapper" style="margin-bottom: 25px; ">
  <div class="col-lg-2"></div>
  <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">

    <div class="formtitle">
      <span>Agregar Dispositivo Adicional</span>
    </div>

    <div class="form-group">
      <ejs-dropdownlist (change)='onChangeDdlDevice($event)' formControlName="devicesMulti" [dataSource]='devices'
        [fields]='deviceWorkOrder' [placeholder]='deviceWatermark' floatLabelType='Auto' id='dropdown'>
      </ejs-dropdownlist>
    </div>
    <div class="row" style="margin-top:5%; margin-left: 2%; margin-right: 2%; margin-bottom: 15%;">

      <div class="col-lg-4">
        <div *ngIf="addQuantityD">
          <div class="form-group">
            <label class="input-disabled" for="quantityDevice" for="quantityDevice" style="font-size:15px;">Cantidad
              Disponible</label>
            <br>
            <input id="quantityDevice" class="form-control" type="number" formControlName="quantityDevice">
          </div>

          <div class="form-group">
            <div class="e-float-input">
              <input id="newQuantityDevice" type="number" formControlName="newQuantityDevice">
              <span class="e-float-line"></span>
              <label for="newQuantityDevice" class="e-float-text" style="font-size:15px;">Cantidad:</label>
            </div>
          </div>

          <button id="validateSubmit" class="samplebtn e-control e-btn e-info" type="submit"
            (click)='addSelectedInventory()' style="height:40px;width: 150px;" data-ripple="true">Agregar</button>
          <hr>
        </div>
      </div>
      <div class="col-lg-8">

        <ejs-grid #grid [dataSource]='selectedDevices' allowPaging='true' [allowSorting]='true' allowTextWrap='true'
          [pageSettings]='pageSettings'>
          <ng-template #toolbarTemplate>
            <ejs-toolbar>
              <div class="e-dlg-header">Dispositivos Agregados</div>
            </ejs-toolbar>
          </ng-template>
          <e-columns>
            <e-column field='id.device.name' headerText='Nombre' width='50' textAlign='center'></e-column>
            <e-column field='id.device.description' headerText='Descripción' width='60' textAlign='center'></e-column>
            <e-column field='quantity' headerText='Cantidad' width='50' textAlign='center'></e-column>
            <e-column field='delete' headerText="Eliminar" width='50' textAlign='center'>
              <ng-template #template let-data>
                <button mat-button class="btn btn-danger glyphicon glyphicon-trash" (click)='openModal(data)'></button>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </form>
</div>