  
<div class="content-wrapper" style="margin-bottom: 25px; ">
    <div class="col-lg-2"></div>
    <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">
  
      <div class="formtitle">
        <span>Dispositivo Adicional</span>
      </div>  
    
      <div class="row" style="margin-top:5%; margin-left: 2%; margin-right: 2%; margin-bottom: 15%;">
         
        <div class="col-lg-8">
  
          <ejs-grid #grid [dataSource]='selectedDevices' allowPaging='true' [allowSorting]='true' allowTextWrap='true'
            [pageSettings]='pageSettings'>
            <ng-template #toolbarTemplate>
              <ejs-toolbar>
                <div class="e-dlg-header">Dispositivos Agregados</div>
              </ejs-toolbar>
            </ng-template>
            <e-columns>
              <e-column field='id.device.name' headerText='Nombre' width='50' textAlign='center'></e-column>
              <e-column field='id.device.description' headerText='Descripción' width='60' textAlign='center'></e-column>
              <e-column field='quantity' headerText='Cantidad' width='50' textAlign='center'></e-column>              
            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </form>
  </div>
