<h1 style="width: 90%; margin-left: 15%">Orden de trabajo</h1>
<div class="form-group" style="width: 90%; margin-left: 15%">

    <div class="form-group" style="width: 90%; margin-left: 15%">
        <label for="username" class="icon-user"> Descripción</label>
        <br>
        <textarea rows="4" cols="50"></textarea>
    </div>
    <div class="form-group" style="width: 90%; margin-left: 15%">
        <label class="icon-user"> Cliente</label>
        <br>
        <input type="text" class="form-control" name="client" id="client" placeholder="Nombre del cliente" required="required" />
        <br>
        <label class="container">One
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Two
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Three
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Four
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>

    </div>
    <div class="form-group" style="width: 90%; margin-left: 15%">
        <label class="icon-user">Empleados</label>
        <br>
        <input type="text" class="form-control" name="employee" id="employee" placeholder="Nombre del empleado"
            required="required" />
        <br>
        <label class="contain">One
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="contain">Two
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="contain">Three
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="contain">Four
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="form-group" style="width: 90%; margin-left: 15%">
        <label class="icon-user">Tipo de orden de trabajo</label>
        <br>
        <div class="dropdown">
                <select name="inventory" class="dropdown-select">
                  <option value="">Cerca electrica</option>
                  <option value="1">Mantenimiento en tuberia</option>
                  <option value="2">instalación nueva de camaras</option>
                </select>
              </div>
    </div>
</div>