
    <h4>Descripción</h4>

    <textarea rows="3" cols="50"> </textarea>
    <br>
    <h4>Cliente</h4>

    <div class="md-form mt-0">
      <input class="form-control" type="text" placeholder="Buscar">
    </div>

    <div class="container">
      <label class="customcheck">One
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="customcheck">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="customcheck">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="customcheck">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>


    <h4>Empleados</h4>

    <div class="md-form mt-0">
        <input class="form-control" type="text" placeholder="Buscar">
    </div>

    <div class="container">
      <label class="customcheck">One
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="customcheck">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="customcheck">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="customcheck">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>

    <h4>Tipo de orden de trabajo</h4>
  
        <div class="dropdown">
          <select name="one" class="dropdown-select">
            <option value="">mantenimiento correctivo</option>
            <option value="1">mantenimiento preventivo</option>
            <option value="2">instalación nueva</option>
            <option value="3">cita de diagnóstico</option>
          </select>
        </div>
     
  <!--FIN primera columna-->