<body>

  <div class="container">
    <div id="panel" class="panel panel-default">
      <div class="panel-body">


        <div class="row-fluid">
          <div class="col-md-3 border-right">

            <h1>Orden de trabajo</h1>
            <div class="form-group">

              <div class="form-group" style="width: 80%; margin-left: 15%">
                <label for="username" class="icon-user"> Descripción</label>
                <br>
                <input type="text" class="form-control" [(ngModel)]="workOrder.description">
              </div>

              <div class="form-group" style="width: 80%; margin-left: 15%">
                <label>Elija un cliente</label>
                <ng-select [items]="clients" bindLabel="name" bindValue="id" placeholder="Seleccione un cliente"
                  [(ngModel)]="workOrder.client.id" name="clients">
                </ng-select>
              </div>

              <div class="form-group" style="width: 80%; margin-left: 15%">
                <label>Seleccione los empleados asociados</label>
                <ng-select [items]="employees" bindLabel='name' bindValue="id" [multiple]="true" placeholder="Seleccione los técnicos"
                  [(ngModel)]="selectedEmployees" name="employees">
                </ng-select>
              </div>

              <div class="form-group" style="width: 80%; margin-left: 15%">
                <label class="icon-user">Tipo de orden de trabajo</label>
                <br>
                <ng-select [items]="workOrdersType" bindLabel="name" bindValue="id" placeholder="Seleccione un tipo de orden de trabajo"
                  name="WorkOrderType" [(ngModel)]="workOrder.workOrderType.id"></ng-select>
              </div>
            </div>
          </div>
          <!--end of first column-->

          <div class="col-md-8" style="margin-left:2%;">
            <h1>Inventario</h1>
            <div class="row">

              <div class="col-md-5">
                <h4>Listas de inventario</h4>
                <ng-select [items]="lists" bindLabel="name" bindValue="id" placeholder="Seleccione una lista de inventario"
                  [(ngModel)]="workOrder.listWorkOrder.id" name="listWorkOrder">
                </ng-select>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4">
                <h4>Herramientas</h4>
                <table class="table table table-bordered table-hover table-responsive">
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                  </tr>
                  <tr>
                    <td>Martillo</td>
                    <td>Punta de metal</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Cable</td>
                    <td>Grueso</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Clavos</td>
                    <td>Punta fina</td>
                    <td>50</td>
                  </tr>
                </table>
              </div>

              <div class="col-md-4">
                <h4>Dispositivos</h4>
                <table class="table table table-bordered table-hover table-responsive">
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                  </tr>
                  <tr>
                    <td>Martillo</td>
                    <td>Punta de metal</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Cable</td>
                    <td>Grueso</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Clavos</td>
                    <td>Punta fina</td>
                    <td>50</td>
                  </tr>
                </table>
              </div>

              <div class="col-md-4">
                <h4>Materiales</h4>
                <table class="table table table-bordered table-hover table-responsive">
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                  </tr>
                  <tr>
                    <td>Martillo</td>
                    <td>Punta de metal</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Cable</td>
                    <td>Grueso</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Clavos</td>
                    <td>Punta fina</td>
                    <td>50</td>
                  </tr>
                </table>
              </div>

            </div>
            <!--end of row-->

            <div class="row-fluid">
              <div class="col-md-8"></div>
              <div class="col-md-2"><button type="submit" class="btn btn-primary enviar" (click)="createWorkOrder()">Guardar</button></div>
              <div class="col-md-2"><button class="btn btn-warning enviar">Crear lista</button></div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div><!-- End of .container -->
</body>