body {
    font-family: 'Questrial', Verdana, sans-serif;
    font-size: 10px;
   color:#696969;
    background-color: #1692B8!important;
  }
  h1 {
    font-family:'Questrial', Verdana, sans-serif;
    text-align:center;
    font-size:25px;
    padding:0;
    margin:0 0 20px 0;
    position:relative;
    color:#696969;
}
  .panel {
    margin: 20px 40px auto;
    padding: 20px;

  }
  
  .border-right {
    border-right: 1px solid #ccc;
  }
  
  .enviar {
    float: right;
    margin: 20px 5px 0 0;
  }
  
  .enviar {
    margin: 20px 0 0 0;
  } 
  