<div class="col-lg-2"></div>
<div class="e-tab-section">

  <div class="col-lg-8 content-wrapper control-section">
    <div class="e-sample-resize-container">

      <ejs-tab id="tab_adaptive" #adaptiveTab heightAdjustMode='None' height='900px'>
        <e-tabitems>
          <e-tabitem [header]='headerText[0]'>
            <ng-template #content>

              <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">

                <div class="formtitle">
                  <span>Orden de Trabajo</span>
                </div>

                <div class="row">
                  <div class="col-lg-6">

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="description" type="text" formControlName="description">
                        <span class="e-float-line"></span>
                        <label for="description" class="e-float-text" style="font-size:15px;">Descripción</label>
                      </div>
                      <div *ngIf="description.errors">
                        <div *ngIf="description.errors.required && description.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="startDate" type="date" formControlName="startDate">
                        <span class="e-float-line"></span>
                        <label for="startDate" class="e-float-text" style="font-size:15px;">Fecha inicial</label>
                      </div>
                      <div *ngIf="startDate.errors">
                        <div *ngIf="startDate.errors.required && startDate.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="endDate" type="date" formControlName="endDate">
                        <span class="e-float-line"></span>
                        <label for="endDate" class="e-float-text" style="font-size:15px;">Fecha final</label>
                      </div>
                      <div *ngIf="endDate.errors">
                        <div *ngIf="endDate.errors.required && endDate.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="startHour" type="time" formControlName="startHour">
                        <span class="e-float-line"></span>
                        <label for="startHour" class="e-float-text" style="font-size:15px;">Hora inicial</label>
                      </div>
                      <div *ngIf="startHour.errors">
                        <div *ngIf="startHour.errors.required && startHour.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="endHour" type="time" formControlName="endHour">
                        <span class="e-float-line"></span>
                        <label for="endHour" class="e-float-text" style="font-size:15px;">Hora final</label>
                      </div>
                      <div *ngIf="endHour.errors">
                        <div *ngIf="endHour.errors.required && endHour.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-lg-6">

                    <div class="form-group">
                      <ejs-multiselect formControlName="employeesMulti" (removing)='select($event)'
                        (select)='selectEmployee($event)' id='multiselect-checkbox' [dataSource]='employees' [mode]='box'
                        [fields]='employeeWorkOrder' [placeholder]='employeeWatermark' [popupHeight]='popHeight'
                        showDropDownIcon='true' floatLabelType='Auto' [allowFiltering]='true'></ejs-multiselect>
                    </div>

                    <div class="form-group">
                      <ejs-dropdownlist formControlName="client" name="client" [(ngModel)]="workOrder.client.id"
                        [dataSource]='clients' [fields]='clientWorkOrder' [placeholder]='clientWatermark'
                        floatLabelType='Auto'>
                      </ejs-dropdownlist>
                    </div>

                    <div class="form-group">
                      <ejs-dropdownlist formControlName="type" name="type" [(ngModel)]="workOrder.workOrderType.id"
                        [dataSource]='workOrdersType' [fields]='typeWorkOrder' [placeholder]='typeWatermark'
                        floatLabelType='Auto'>
                      </ejs-dropdownlist>
                    </div>

                    <div class="form-group">
                      <ejs-dropdownlist formControlName="color" name="color" [(ngModel)]="workOrder.color.id"
                        [dataSource]='colors' [fields]='colorWorkOrder' [placeholder]='colorWatermark'
                        floatLabelType='Auto'>
                      </ejs-dropdownlist>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div style="width: 325px;margin:0px auto;height: 100px; padding-top: 25px;">
                    <div style="display: inline-block;">
                      <button id="validateSubmit" class="samplebtn e-control e-btn e-info" type="submit"
                        style="height:40px;width: 150px;" data-ripple="true">Agregar</button>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </e-tabitem>
          
            <e-tabitem [header]='headerText[1]'>
              <ng-template #content>
                <insert-inventory-work-order></insert-inventory-work-order>
              </ng-template>
            </e-tabitem>

            <e-tabitem [header]='headerText[2]'>
              <ng-template #content>
                <insert-adicional-material-work-order></insert-adicional-material-work-order>
              </ng-template>
            </e-tabitem>

            <e-tabitem [header]='headerText[3]'>
              <ng-template #content>
                <insert-adicional-tool-work-order></insert-adicional-tool-work-order>
              </ng-template>
            </e-tabitem>
            <e-tabitem [header]='headerText[4]'>
              <ng-template #content>
                <insert-adicional-device-work-order></insert-adicional-device-work-order>
              </ng-template>
            </e-tabitem>
          
        </e-tabitems>
      </ejs-tab>

    </div>
  </div>
</div>