<div  class="col-lg-4"></div>
<div class="col-lg-4 control-section">
    <div class="content-wrapper" style="margin-bottom: 25px;">
        <div class="formtitle">
            <span>Agregar un Empleado</span>
        </div>

        <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">

            <div class="form-group">
                <div class="e-float-input">
                    <input id="id" type="text" formControlName="id">
                    <span class="e-float-line"></span>
                    <label for="id" class="e-float-text">Identificación</label>
                </div>
                <div *ngIf="id.errors">
                    <div *ngIf="id.errors.required && id.touched" class="e-error">
                        Debe rellenar este campo.
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="e-float-input">
                    <input id="name" type="text" formControlName="name">
                    <span class="e-float-line"></span>
                    <label for="name" class="e-float-text">Nombre</label>
                </div>
                <div *ngIf="name.errors">
                    <div *ngIf="name.errors.required && name.touched" class="e-error">
                        Debe rellenar este campo.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="lastName" type="text" formControlName="lastName">
                    <span class="e-float-line"></span>
                    <label for="lastName" class="e-float-text">Apellidos</label>
                </div>
                <div *ngIf="lastName.errors">
                    <div *ngIf="lastName.errors.required && lastName.touched" class="e-error">
                        Debe rellenar este campo.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="position" type="text" formControlName="position">
                    <span class="e-float-line"></span>
                    <label for="position" class="e-float-text">Posición</label>
                </div>
                <div *ngIf="position.errors">
                    <div *ngIf="position.errors.required && position.touched" class="e-error">
                        Debe rellenar este campo.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <ejs-combobox formControlName="role" name="role" allowCustom=false
                [dataSource]='autoreactiveskillset' [placeholder]='autoreactiveplaceholder' floatLabelType='Auto'>
                </ejs-combobox>
                <div *ngIf="role.errors">
                    <div *ngIf="role.errors.required && role.touched" class="e-error">
                        Debe rellenar este campo.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="username" type="text" formControlName="username">
                    <span class="e-float-line"></span>
                    <label for="username" class="e-float-text">Usuario</label>
                </div>
                <div *ngIf="username.errors">
                    <div *ngIf="username.errors.required && username.touched" class="e-error">
                        Debe rellenar este campo.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="password" type="password" formControlName="password">
                    <span class="e-float-line"></span>
                    <label for="password" class="e-float-text">Contraseña</label>
                </div>
                <div *ngIf="password.errors">
                    <div *ngIf="password.errors.required && password.touched" class="e-error">
                        Debe rellenar este campo.
                    </div>
                </div>
            </div>


            <div class="row">
                <div style="width: 320px;margin:0px auto;height: 100px;padding-top: 25px;">
                    <div style="display: inline-block;">
                        <button id="validateSubmit" class="samplebtn e-control e-btn e-info" type="submit" style="height:40px;width: 150px;" data-ripple="true">AGREGAR</button>
                    </div>
                    <div style="float: right;">
                        <button id="resetbtn" class="samplebtn e-control e-btn" type="reset" style="height:40px;width: 170px;" data-ripple="true">LIMPIAR FORMULARIO</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="description">