<div class="col-lg-2"></div>
<div class="col-lg-8 control-section">
    <div class="content-wrapper" style="margin-bottom: 25px;">

        <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">

            <div class="formtitle">
                <span>Agregar un Empleado</span>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="id" type="text" formControlName="id" [(ngModel)]="employee.id">
                            <span class="e-float-line"></span>
                            <label for="id" class="e-float-text" style="font-size:15px;">Identificación*</label>
                        </div>
                        <div *ngIf="id.errors">
                            <div *ngIf="id.errors.required && id.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="name" type="text" formControlName="name" [(ngModel)]="employee.name">
                            <span class="e-float-line"></span>
                            <label for="name" class="e-float-text" style="font-size:15px;">Nombre*</label>
                        </div>
                        <div *ngIf="name.errors">
                            <div *ngIf="name.errors.required && name.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="lastName" type="text" formControlName="lastName" [(ngModel)]="employee.lastName">
                            <span class="e-float-line"></span>
                            <label for="lastName" class="e-float-text" style="font-size:15px;">Apellidos*</label>
                        </div>
                        <div *ngIf="lastName.errors">
                            <div *ngIf="lastName.errors.required && lastName.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="position" type="text" formControlName="position" [(ngModel)]="employee.position">
                            <span class="e-float-line"></span>
                            <label for="position" class="e-float-text" style="font-size:15px;">Posición*</label>
                        </div>
                        <div *ngIf="position.errors">
                            <div *ngIf="position.errors.required && position.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ejs-dropdownlist formControlName="role" name="role" [(ngModel)]="employee.role.id"
                            [dataSource]='data' [fields]='fields' [placeholder]='watermark' floatLabelType='Auto'>

                        </ejs-dropdownlist>
                        <div *ngIf="role.errors">
                            <div *ngIf="role.errors.errorD && role.touched" class="e-error">
                                Debe seleccionar un rol.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="username" type="text" formControlName="username" [(ngModel)]="employee.username">
                            <span class="e-float-line"></span>
                            <label for="username" class="e-float-text" style="font-size:15px;">Usuario*</label>
                        </div>
                        <div *ngIf="username.errors">
                            <div *ngIf="username.errors.required && username.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="password" type="password" [(ngModel)]="employee.password"
                                formControlName="password">
                            <span class="e-float-line"></span>
                            <label for="password" class="e-float-text" style="font-size:15px;">Contraseña*</label>
                        </div>
                        <div *ngIf="password.errors">
                            <div *ngIf="password.errors.required && password.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="mobile" type="text" formControlName="mobile">
                            <span class="e-float-line"></span>
                            <label for="mobile" class="e-float-text" style="font-size:15px;">Teléfono Celular*</label>
                        </div>
                        <div *ngIf="mobile.errors">
                            <div *ngIf="mobile.errors.phoneError && mobile.touched" class="e-error">
                                El número a digitar debe tener unicamente 8 dígitos.
                            </div>
                            <div *ngIf="mobile.errors.required && mobile.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="e-float-input">
                            <input id="home" type="text" formControlName="home">
                            <span class="e-float-line"></span>
                            <label for="home" class="e-float-text" style="font-size:15px;">Otro teléfono</label>
                        </div>
                        <div *ngIf="home.errors">
                            <div *ngIf="home.errors.phoneError && home.touched" class="e-error">
                                El número a digitar debe tener unicamente 8 dígitos.
                            </div>
                            <div *ngIf="home.errors.required && home.touched" class="e-error">
                                Debe rellenar este campo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 5px; margin-right: 5px;">
                <div style="width: 300px;margin:0px auto;height: 100px;padding-top: 25px;">

                    <button id="validateSubmit" class="samplebtn e-control e-btn e-info" type="submit"
                        style="height:40px;width: 146px;" data-ripple="true">Agregar</button>

                    <button class="samplebtn e-control e-btn" type="button" (click)='returnView()'
                        style="height:40px;width: 146px; margin-left: 5px;">Cancelar</button>

                </div>
            </div>
        </form>
    </div>
</div>