#control_wrapper {
    max-width: 500px;
    margin: 50px auto;
    padding-top: 50px;
}
.control-section {
    margin: 25px auto;
}

  .modal-content {
      border: none;
      border-radius: 2px;
      box-shadow: 0 16px 28px 0 rgba(0,0,0,0.58),0 25px 55px 0 rgba(0,0,0,0.21);
      padding-top: 2px;
      padding-right: 26px;
      padding-left: 26px;
      padding-bottom: 5px;
      font-size: 15px;
      font-family:'Questrial', Verdana, sans-serif;
    }
  
    .modal-footer {
      border-top:0;
      padding-bottom:10px;
    }
   
  
    .e-dlg-header  {
      font-family:'Questrial', Verdana, sans-serif;
      display: block;
      font-size: 18px;
      font-weight: bold;
      margin-top: 2%;  
      text-align: center;
    }
  
  .but_insert {
      margin-left: 70%;
      margin-bottom: 2%;
      background-color: rgb(110, 191, 211);
      border: none;
      border: 1px solid #000;
      border-radius: 4px;
      width: 200px;
      padding: 16px 0;
      font-size: 20px;
  }
  .but_insert:hover {
     box-shadow: 1px 1px 5px black;
  }
  