<div class="col-lg-1"></div>
<div class="e-tab-section"> 
  <div class="col-lg-10 content-wrapper control-section">
    <div class="e-sample-resize-container">

      <ejs-tab id="tab_adaptive" #adaptiveTab heightAdjustMode='None' height='900px'>
        <e-tabitems>
          <e-tabitem [header]='headerText[0]'>
            <ng-template #content>

              <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">

                <div class="formtitle">
                  <span>Orden de Trabajo</span>                 
                </div>
                <div *ngIf="flagWarning">
                  <div class="table-responsive">
                      <notification [class]='classNotification' [type]='typeNotification' [message]='messageNotification'>
                        </notification>         
                        
                  </div>
                  
                </div> 

                <div class="row">
                  <div class="col-lg-6">

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="description" type="text" formControlName="description"
                          [(ngModel)]="workOrder.description">
                        <span class="e-float-line"></span>
                        <label for="description" class="e-float-text" style="font-size:15px;">Descripción</label>
                      </div>
                      <div *ngIf="description.errors">
                        <div *ngIf="description.errors.required && description.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="startDate" type="date" formControlName="startDate" [(ngModel)]="workOrder.startDate">
                        <span class="e-float-line"></span>
                        <label for="startDate" class="e-float-text" style="font-size:15px;">Fecha inicial</label>
                      </div>
                      <div *ngIf="startDate.errors">
                        <div *ngIf="startDate.errors.required && startDate.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="endDate" type="date" formControlName="endDate" [(ngModel)]="workOrder.endDate">
                        <span class="e-float-line"></span>
                        <label for="endDate" class="e-float-text" style="font-size:15px;">Fecha final</label>
                      </div>
                      <div *ngIf="endDate.errors">
                        <div *ngIf="endDate.errors.required && endDate.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="startHour" type="time" formControlName="startHour">
                        <span class="e-float-line"></span>
                        <label for="startHour" class="e-float-text" style="font-size:15px;">Hora inicial</label>
                      </div>
                      <div *ngIf="startHour.errors">
                        <div *ngIf="startHour.errors.required && startHour.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="e-float-input">
                        <input id="endHour" type="time" formControlName="endHour">
                        <span class="e-float-line"></span>
                        <label for="endHour" class="e-float-text" style="font-size:15px;">Hora final</label>
                      </div>
                      <div *ngIf="endHour.errors">
                        <div *ngIf="endHour.errors.required && endHour.touched" class="e-error">
                          Debe rellenar este campo.
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-lg-6">

                    <div class="form-group">
                      <ejs-multiselect #x formControlName="employeesMulti" (removing)='selectEmployee($event)'
                        (select)='selectEmployee($event)' id='multiselect-checkbox' [dataSource]='employees'
                        [mode]='box' [fields]='employeeWorkOrder' [placeholder]='employeeWatermark'
                        [popupHeight]='popHeight' showDropDownIcon='true' floatLabelType='Auto' [allowFiltering]='true'>
                      </ejs-multiselect>
                    </div>

                    <div class="form-group">
                      <ejs-dropdownlist formControlName="client" name="client" [(ngModel)]="workOrder.client.id"
                        #ejsclient [dataSource]='clients' [fields]='clientWorkOrder' [placeholder]='clientWatermark'
                        floatLabelType='Auto'>
                      </ejs-dropdownlist>
                    </div>

                    <div class="form-group">
                      <ejs-dropdownlist formControlName="type" name="type" [(ngModel)]="workOrder.workOrderType.id"
                      #ejswotype [dataSource]='workOrdersType' [fields]='typeWorkOrder' [placeholder]='typeWatermark'
                        floatLabelType='Auto'>
                      </ejs-dropdownlist>
                    </div>

                    <div class="form-group">
                      <ejs-dropdownlist formControlName="color" name="color" [(ngModel)]="workOrder.color.id"
                        [dataSource]='colors' [fields]='colorWorkOrder' [placeholder]='colorWatermark'
                        floatLabelType='Auto'>
                        <ng-template #itemTemplate let-data>
                          <img height="20" width="20" [style.background-color]="data.color" />
                          <b> {{data.state}}</b>
                        </ng-template>
                      </ejs-dropdownlist>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div style="width: 325px;margin:0px auto;height: 100px; padding-top: 25px;">
                    <div style="display: inline-block;">
                      <button id="validateSubmit" class="samplebtn e-control e-btn e-info" type="submit"
                        (click)='formatDates()' style="height:40px;width: 200px;" data-ripple="true">Actualizar orden de trabajo</button>                                         
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </e-tabitem>

          <e-tabitem [header]='headerText[1]'>
            <ng-template #content>
              <insert-inventory-work-order></insert-inventory-work-order>
            </ng-template>
          </e-tabitem>

          <e-tabitem [header]='headerText[2]'>
            <ng-template #content>
              <insert-adicional-material-work-order></insert-adicional-material-work-order>
            </ng-template>
          </e-tabitem>

          <e-tabitem [header]='headerText[3]'>
            <ng-template #content>
              <insert-adicional-tool-work-order></insert-adicional-tool-work-order>
            </ng-template>
          </e-tabitem>
          <e-tabitem [header]='headerText[4]'>
            <ng-template #content>
              <insert-adicional-device-work-order></insert-adicional-device-work-order>
            </ng-template>
          </e-tabitem>

        </e-tabitems>
      </ejs-tab>

    </div>
  </div>
</div>