<div *ngIf="principalSection">
  <div class="control-section">

    <div class="row">
      <div class="col-lg-10 col-md-5 col-sm-5 col-xs-5"></div>
      <button class="button button2" (click)="insert()" style="margin-left: 15px;">Agregar nuevo</button>
    </div>

    <ejs-toolbar class='e-gridlist' (clicked)="onClicked($event.originalEvent)">
      <e-items>
        <e-item text='Número de cédula'></e-item>
        <e-item text='Nombre'></e-item>
        <e-item text='Apellidos'></e-item>
        <e-item text='Posición'></e-item>
        <e-item text='Usuario'></e-item>
        <e-item text='Teléfono móvil'></e-item>
        <e-item text='Otro teléfono'></e-item>
      </e-items>
    </ejs-toolbar>
    <br />
    <ejs-grid #grid [dataSource]='employees' allowPaging='true' [allowSorting]='true' (dataBound)="dataBound()"
      allowTextWrap='true' [pageSettings]='pageSettings'>

      <ng-template #toolbarTemplate>
        <ejs-toolbar>
          <div class="e-dlg-header"> Lista de empleados</div>

        </ejs-toolbar>
      </ng-template>

      <e-columns>
        <e-column field='id' headerText='Número de cédula' width='120' textAlign='center'></e-column>
        <e-column field='name' headerText="Nombre" width='100' textAlign='center'></e-column>
        <e-column field='lastName' headerText="Apellidos" width='150' textAlign='center'></e-column>
        <e-column field='position' headerText="Posición" width='105' textAlign='center'></e-column>
        <e-column field='username' headerText="Usuario" width='100' textAlign='center'></e-column>

        <e-column headerText="Teléfono móvil" width='105' textAlign='center'>
          <ng-template #template let-data>
            <div *ngIf="data.telephones[0]!=null && data.telephones[0]!=undefined">
              {{data.telephones[0].number}}
            </div>
            <div *ngIf="data.telephones[0]===null || data.telephones[0]===undefined">
              ---
            </div>
          </ng-template>
        </e-column>

        <e-column headerText="Otro teléfono" width='100' textAlign='center'>
          <ng-template #template let-data>
            <div *ngIf="data.telephones[1]!=null && data.telephones[1]!=undefined">
              {{data.telephones[1].number}}
            </div>
            <div *ngIf="data.telephones[1]===null || data.telephones[1]===undefined">
              ---
            </div>
          </ng-template>
        </e-column>

        <e-column headerText="Cambiar clave" width='115' textAlign='center'>
            <ng-template #template let-data>
              <button mat-button class="btn btn-info glyphicon glyphicon-link" (click)='changePassword(data)'></button>
            </ng-template>
          </e-column>

        <e-column headerText="Editar" width='85' textAlign='center'>
          <ng-template #template let-data>
            <button mat-button class="btn btn-warning glyphicon glyphicon-pencil" (click)='edit(data)'></button>
          </ng-template>
        </e-column>

        <e-column headerText="Eliminar" width='115' textAlign='center'>
          <ng-template #template let-data>
            <button mat-button class="btn btn-danger glyphicon glyphicon-trash" (click)='openModal(data)'></button>
          </ng-template>
        </e-column>

      </e-columns>
    </ejs-grid>
  </div>
</div>

<div *ngIf="changePasswordSection">
    <change-password-admin [employee]="employeeChangePassword"></change-password-admin>
  </div>

<div *ngIf="employeesSection">
  <update-employee [employeeId]="employeeId"></update-employee>
</div>

<div *ngIf="insertSection">
  <insert-employee></insert-employee>
</div>