<div *ngIf="principal">
  <div class="control-section">

    <div class="row">
      <div class="col-lg-10 col-md-5 col-sm-5 col-xs-5"></div>
      <button class="button button2" (click)="insert()" style="margin-left: 15px;">Agregar nuevo</button>
    </div>

    <ejs-grid #grid [dataSource]='data' allowPaging='true' [allowSorting]='true' allowTextWrap='true'
      [pageSettings]='pageSettings'>
      <ng-template #toolbarTemplate>
        <ejs-toolbar>
          <div class="e-dlg-header">Lista de unidades de medida</div>
        </ejs-toolbar>
      </ng-template>
      <e-columns>
        <e-column field='name' headerText='Nombre' width='50' textAlign='center'></e-column>
        <e-column field='edit' headerText="Editar" width='50' textAlign='center'>
          <ng-template #template let-data>
            <button mat-button class="btn btn-warning glyphicon glyphicon-pencil" (click)='edit(data)'></button>
          </ng-template>
        </e-column>
        <e-column field='delete' headerText="Eliminar" width='50' textAlign='center'>
          <ng-template #template let-data>
            <button mat-button class="btn btn-danger glyphicon glyphicon-trash" (click)='openModal(data)'></button>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>

<div *ngIf="editSection">
  <update-measurement-unit [measurementUnitId]="measurementUnitId"></update-measurement-unit>
</div>

<div *ngIf="insertSection">
  <insert-measurement-unit></insert-measurement-unit>
</div>