<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 control-section">
    <div class="content-wrapper">
      <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">

        <div class="formtitle">
          <span>Actualizar Inventario</span>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-5 border-right">

            <button type="button" class="but_insert" (click)="movebuttonsMaterial()"
              style="margin-top:20px;">Materiales</button>
            <button type="button" class="but_insert" (click)="movebuttonsTool()"
              style="margin-top:10px;">Herramientas</button>
            <button type="button" class="but_insert" (click)="movebuttonsDevice()"
              style="margin-top:10px;">Dispositivos</button>
          </div>


          <div class="col-lg-6 ">
            <div class="form-group">
              <ejs-dropdownlist (change)='onChangeDdl($event)' formControlName="element" name="element"
                [dataSource]='elements' [fields]='fields' [placeholder]='watermark' floatLabelType='Auto'>
              </ejs-dropdownlist>
              <div *ngIf="element.errors">
                <div *ngIf="element.errors.errorD && element.touched" class="e-error">
                  Debe seleccionar un elemento.
                </div>
              </div>
            </div>
            <div *ngIf="quantitySection">
              <div class="form-group" style="margin-left:25%;">
                <div class="e-float-input">
                  <label for="description" class="input-disabled" style="font-size:15px;">Nombre:
                  </label>
                  <input id="description" class="form-control" type="text" formControlName="description">
                </div>
              </div>

              <div class="form-group" style="margin-left:25%;">
                <div class="e-float-input">
                  <label for="quantity" class="input-disabled" style="font-size:15px;">Cantidad Actual
                  </label>
                  <input id="quantity" type="text" class="form-control" formControlName="quantity">
                </div>
              </div>

              <div class="form-group" style="margin-left:25%;">
                <div class="e-float-input">
                  <input id="newQuantity" type="number" formControlName="newQuantity" [(ngModel)]="newQuantity">
                  <span class="e-float-line"></span>
                  <label for="newQuantity" class="e-float-text" style="font-size:15px;">Nueva Cantidad
                  </label>
                </div>
                <div *ngIf="newQuantity.errors">
                  <div *ngIf="newQuantity.errors.required && newQuantity.touched" class="e-error">
                    Debe rellenar este campo.
                  </div>
                </div>
              </div>

              <button id="validateSubmit" class="samplebtn e-control e-btn e-info" type="submit" (click)="updateQuantity()"
                style="height:40px;width: 146px;" data-ripple="true">Actualizar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>